*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1{
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 10px solid deeppink;
    margin: 10PX;
    /* margin: 20px; */
}
.box2{
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 10px solid deeppink;
    margin: 10PX;
    background-color: purple;
}
.box3{
    background-color: crimson;
    color: white;
}