.block{
    width: 100px;
    height: 100px;
    /* display: inline; */
    background-color: blue;
}
h1{
    display: inline;
}
h2{
    display: inline;
}
img{
    display: block;
    margin: auto;
}
span{
    /* display: inline-block; */
    font-weight: bold;
    width: 300px;
    margin: 20px;
    height: 300px;
    margin: auto;
}